<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="example-richfaces-hello-jboss7">
	<description>Contract Financial Inputs Reconciliation Manager</description>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>pgsaa</param-value>
	</context-param>
<!-- to set dummy sso in applicaiton header
 <filter>
  <description>To enable, set url pattern for filter to '/*'. To disable, set to '/disabled'</description>
  <filter-name>EauthMockFilter</filter-name>
  <filter-class>com.ge.filter.sso.EauthMockFilter</filter-class>
  <init-param>
   <param-name>SM_USER</param-name>
   <param-value>501265921</param-value>
  </init-param>
 </filter>
 <filter-mapping>
  <filter-name>EauthMockFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
   end setting header -->
   
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
    			/WEB-INF/applicationContext.xml
    	</param-value>
	</context-param>
	 <mime-mapping>
	    <extension>xlsm</extension>
	    <mime-type>application/msexcel</mime-type>
	 </mime-mapping>	
<!-- 
	<context-param>
     <param-name>javax.faces.LIFECYCLE_ID</param-name>
     <param-value>SessionLifecycle</param-value>
	</context-param>
	 -->
	<filter>
		<description>To enable, set url pattern for filter to '/*'. To disable, set to '/disabled'</description>
		<filter-name>EauthMockFilter</filter-name>
		<filter-class>com.ge.energy.confirm.security.filter.EauthMockFilter</filter-class>
		<init-param>
			<param-name>SM_USER</param-name>
			<param-value>502079223</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EauthMockFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<error-page>
        <error-code>404</error-code>
        <location>/error_page/error.jsp</location>
    </error-page>
    
    <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<servlet-name>springmvc</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>hibernateOpenSessionInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hibernateOpenSessionInViewFilter</filter-name>
		<servlet-name>springmvc</servlet-name>
	</filter-mapping>
</web-app>


